<head>
    <html>
        <title>Vue.js Demo</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <button v-on:click="toggleShow">Toggle Show</button>
            <input v-model="message"/>
            <p v-if="showMessage" v-bind:title="message">{{ message }}</p>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }} 
                </li>
            </ol>
            <ol>
                <todo-item
                  v-for="item in todos"
                  v-bind:todo="item"
                  v-bind:key="item.id"
                ></todo-item>
              </ol>
        </div>
        <script src="index.js"></script>
    </body>
</html>