<!DOCTYPE html>
<head>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="styles.css">
  <title>Exercise-4</title>
</head>
<body>
  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <button @click="startEffect">Start Effect</button>
      <div id="effect" :class="selectedClass"></div>
    </div>
    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div :class="[classA, classB]">I got no class :(</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <input type="text" placeholder="class name" @keyup="selectedClass2 = $event.target.value">
      <div :class="selectedClass2"></div>
    </div>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
      <input type="text" placeholder="class name" @keyup="selectedClass3 = $event.target.value">
      <input type="text" placeholder="true/false" v-model="activateClass3">
      <div v-if="activateClass3 === 'true'" :class="selectedClass3"></div>
    </div>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <div>
      <input type="text" v-model="selectedColor">
      <div id="effect" :style="myStyle"></div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div>
      <button @click="startProgress()">Start Progress</button>
      <div class="box" :style="{width:barLen + 'px'}"></div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>